/*********CSS INJECTION 2018
 ***********************/
/***
Date : 
Web Designer: William L. Carrasca Jr.
Company: Enggware LTD under Enggsol Engineering Solution 
Email: william@enggware.com 
Contacts: +639212632325 | +639177229718
Google Site: http://sites.google.com/view/william-cv-2018
Behance: http://behance.net/wilvyrux
Skype: williamcarrascajr
 ***/                             


// Modules and Variables
@import "modules/mixin";
@import "modules/colors"; 
@import "modules/typography";
 

// Partials
@import "partials/resets";   
@import "partials/buttons";
@import "partials/header";  
@import "partials/footer";
@import "partials/pages";  
   