
//COMMON COLORS
$color-dark:#181718 !important; 
$color-gray2:#282828 !important; 
$color-gray3:#8b8e95 !important; 
 

//THEME USE COLORS
$color-darkblue:#0a3578 !important; 
$color-green:#03b840 !important; 

$color-yellow:#f8c104 !important; 

$color-lightgray2:#fbfafa !important; 
$color-lightgray3:#ddd !important; 
$color-orange:#f36a22 !important; 
$color-darkorange:#b7460b !important; 


$color-blue:#009fd9 !important; 
$color-gray:#878787 !important; 

// COMMON
$color-dark:#2c2f37 !important; 
$color-dark2:#363943 !important; 
$color-red:#f21b1b !important; 
$color-white:#fff !important; 
$color-black:#000000 !important;
$color-lightgray:#f6f6f6 !important;  
$color-lightgray2:#e5e5e5 !important;  



$color-primary:$color-blue; 
$color-secondary:$color-dark; 
$color-third:$color-gray;    
